[flake8]
rst-roles =
    class,
    obj,
; rst-directives =
;     envvar,
;     exception,
; rst-substitutions =
;     version,
extend-ignore =
    # Google Python style is not RST until after processed by Napoleon
    # See https://github.com/peterjc/flake8-rst-docstrings/issues/17
    RST201,RST203,RST301,