__pycache__/
.vscode
*.pyc
#######
#time series locally downloaded
data/
data/ts/**
#######
#ignore all kind of images in home directory
./*.pdf
./*.png
./*.jpeg
./*.jpg
#######
#ignore private info and config
config/*
.env
#######
# AWS ec2 keys
*.pem
#######
# log files 
*.log
#######
# temp files, if present
temp/*
#######
# sphinx docs
docsrc/build
######
# package files
*.egg-info/
build
######
# pytest
*.pytest_cache
# test coverage
htmlcov
.coverage
.coverage*
coverage.xml
######
# git files
*.rej
*.patch
# plotly
./*.html
####
# others
tools/vm.sh
*.session
